In [1]:
import pandas as pd
import numpy as np

C:\Users\Борис\AppData\Local\Temp\ipykernel_4584\2937650959.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
def slt_1_2(x):
    if not pd.isnull(x):
        x = x.split('/')
        return x[0], int(x[1]), x[2]
    else:
        return np.nan, np.nan, np.nan
spaceship = pd.read_csv('data/spaceship_titanic/train.csv')
spaceship['HomePlanet'] = spaceship.HomePlanet.replace(['Earth', 'Europa', 'Mars'], [0, 1, 2])
spaceship['CryoSleep'] = spaceship.CryoSleep.replace([False, True], [0, 1])
spaceship['VIP'] = spaceship.VIP.replace([False, True], [0, 1])
spaceship['Transported'] = spaceship.Transported.replace([False, True], [0, 1])
spaceship['Group'] = spaceship.PassengerId.apply(lambda x: int(x.split('_')[1]))
spaceship['Deck'], spaceship['Nums'], spaceship['Side'] = zip(*spaceship['Cabin'].apply(slt_1_2))
spaceship['Side'] = spaceship.Side.replace(['S', 'P'], [0, 1])
spaceship['Deck'] = spaceship.Deck.replace(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'], list(range(8)))
spaceship.head()

C:\Users\Борис\AppData\Local\Temp\ipykernel_4584\2303491438.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  spaceship['HomePlanet'] = spaceship.HomePlanet.replace(['Earth', 'Europa', 'Mars'], [0, 1, 2])
C:\Users\Борис\AppData\Local\Temp\ipykernel_4584\2303491438.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  spaceship['CryoSleep'] = spaceship.CryoSleep.replace([False, True], [0, 1])
C:\Users\Борис\AppData\Local\Temp\ipykernel_4584\2303491438.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  spaceship['VIP'] = spaceship.VIP.replace([False, True], [0, 1])
C:\Users\Борис\AppData\Local\Temp\ipykernel_4584\2303491438.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  spaceship['Transported'] = spaceship.Transported.replace([False, True], [0, 1])
C:\Users\Борис\AppData\Local\Temp\ipykernel_4584\2303491438.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  spaceship['Side'] = spaceship.Side.replace(['S', 'P'], [0, 1])
C:\Users\Борис\AppData\Local\Temp\ipykernel_4584\2303491438.py:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  spaceship['Deck'] = spaceship.Deck.replace(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'], list(range(8)))

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,Deck,Nums,Side
0,0001_01,1.0,0.0,B/0/P,TRAPPIST-1e,39.0,0.0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0,1,1.0,0.0,1.0
1,0002_01,0.0,0.0,F/0/S,TRAPPIST-1e,24.0,0.0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1,1,5.0,0.0,0.0
2,0003_01,1.0,0.0,A/0/S,TRAPPIST-1e,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0,1,0.0,0.0,0.0
3,0003_02,1.0,0.0,A/0/S,TRAPPIST-1e,33.0,0.0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0,2,0.0,0.0,0.0
4,0004_01,0.0,0.0,F/1/S,TRAPPIST-1e,16.0,0.0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1,1,5.0,1.0,0.0

In [110]:
spaceship.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   float64
 2   CryoSleep     8476 non-null   float64
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   float64
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   int64
 14  Group         8693 non-null   int64
 15  Deck          8494 non-null   float64
 16  Nums          8494 non-null   float64
 17  Side          8494 non-null   float64
dtypes: float64(12), int64(2), object(4)
memory usage: 1.2+ MB

In [111]:
spaceship.describe()

,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group,Deck,Nums,Side
count,8492.000000,8476.000000,8514.000000,8490.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000,8693.000000,8693.000000,8494.000000,8494.000000,8494.000000
mean,0.665214,0.358306,28.827930,0.023439,224.687617,458.077203,173.729169,311.138778,304.854791,0.503624,1.517773,4.305392,600.367671,0.495173
std,0.798155,0.479531,14.489021,0.151303,666.717663,1611.489240,604.696458,1136.705535,1145.717189,0.500016,1.054241,1.778233,511.867226,0.500006
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,167.250000,0.000000
50%,0.000000,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,5.000000,427.000000,0.000000
75%,1.000000,1.000000,38.000000,0.000000,47.000000,76.000000,27.000000,59.000000,46.000000,1.000000,2.000000,6.000000,999.000000,1.000000
max,2.000000,1.000000,79.000000,1.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000,1.000000,8.000000,7.000000,1894.000000,1.000000

In [112]:
spaceship.Destination.value_counts()

Destination
TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: count, dtype: int64

In [3]:
spaceship['Destination'] = spaceship.Destination.replace(['TRAPPIST-1e', '55 Cancri e', 'PSO J318.5-22'], [0, 1, 2])

C:\Users\Борис\AppData\Local\Temp\ipykernel_4584\192673671.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  spaceship['Destination'] = spaceship.Destination.replace(['TRAPPIST-1e', '55 Cancri e', 'PSO J318.5-22'], [0, 1, 2])

In [114]:
spaceship.describe()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group,Deck,Nums,Side
count,8492.000000,8476.000000,8511.000000,8514.000000,8490.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000,8693.000000,8693.000000,8494.000000,8494.000000,8494.000000
mean,0.665214,0.358306,0.398543,28.827930,0.023439,224.687617,458.077203,173.729169,311.138778,304.854791,0.503624,1.517773,4.305392,600.367671,0.495173
std,0.798155,0.479531,0.653306,14.489021,0.151303,666.717663,1611.489240,604.696458,1136.705535,1145.717189,0.500016,1.054241,1.778233,511.867226,0.500006
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,167.250000,0.000000
50%,0.000000,0.000000,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,5.000000,427.000000,0.000000
75%,1.000000,1.000000,1.000000,38.000000,0.000000,47.000000,76.000000,27.000000,59.000000,46.000000,1.000000,2.000000,6.000000,999.000000,1.000000
max,2.000000,1.000000,2.000000,79.000000,1.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000,1.000000,8.000000,7.000000,1894.000000,1.000000

In [115]:
spaceship.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   float64
 2   CryoSleep     8476 non-null   float64
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   float64
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   float64
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   int64
 14  Group         8693 non-null   int64
 15  Deck          8494 non-null   float64
 16  Nums          8494 non-null   float64
 17  Side          8494 non-null   float64
dtypes: float64(13), int64(2), object(3)
memory usage: 1.2+ MB

In [4]:
spaceship = spaceship.drop(['PassengerId', 'Cabin', 'Name'], axis=1)

In [130]:
corrs_table = spaceship.corr()
corrs_table

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group,Deck,Nums,Side
HomePlanet,1.000000,0.088072,-0.163169,0.138058,0.127844,0.215963,0.070782,0.103070,0.055232,0.040292,0.118101,0.038778,-0.418904,-0.203172,-0.000528
CryoSleep,0.088072,1.000000,0.120126,-0.074273,-0.081402,-0.252396,-0.211510,-0.212514,-0.203991,-0.198857,0.468645,0.064676,0.017823,-0.037560,-0.019677
Destination,-0.163169,0.120126,1.000000,-0.013831,0.027478,-0.072975,0.025592,-0.037480,0.000111,0.014997,0.069011,-0.010709,0.015206,0.004880,-0.002760
Age,0.138058,-0.074273,-0.013831,1.000000,0.092819,0.068723,0.130421,0.033133,0.123970,0.101007,-0.075026,-0.132756,-0.248003,-0.132255,-0.011640
VIP,0.127844,-0.081402,0.027478,0.092819,1.000000,0.058785,0.129799,0.018295,0.061059,0.125974,-0.037650,0.000622,-0.183393,-0.099416,0.010117
RoomService,0.215963,-0.252396,-0.072975,0.068723,0.058785,1.000000,-0.015889,0.054480,0.010080,-0.019581,-0.244611,-0.022571,-0.026783,-0.008986,0.012290
FoodCourt,0.070782,-0.211510,0.025592,0.130421,0.129799,-0.015889,1.000000,-0.014228,0.221891,0.227995,0.046566,0.023391,-0.324348,-0.183429,-0.020149
ShoppingMall,0.103070,-0.212514,-0.037480,0.033133,0.018295,0.054480,-0.014228,1.000000,0.013879,-0.007322,0.010141,-0.038812,-0.032926,0.001727,0.020983
Spa,0.055232,-0.203991,0.000111,0.123970,0.061059,0.010080,0.221891,0.013879,1.000000,0.153821,-0.221131,0.016820,-0.229111,-0.131342,-0.002031
VRDeck,0.040292,-0.198857,0.014997,0.101007,0.125974,-0.019581,0.227995,-0.007322,0.153821,1.000000,-0.207075,0.010082,-0.257326,-0.139080,0.008154
Transported,0.118101,0.468645,0.069011,-0.075026,-0.037650,-0.244611,0.046566,0.010141,-0.221131,-0.207075,1.000000,0.066390,-0.116462,-0.045097,-0.103775
Group,0.038778,0.064676,-0.010709,-0.132756,0.000622,-0.022571,0.023391,-0.038812,0.016820,0.010082,0.066390,1.000000,-0.076804,-0.041735,-0.010910
Deck,-0.418904,0.017823,0.015206,-0.248003,-0.183393,-0.026783,-0.324348,-0.032926,-0.229111,-0.257326,-0.116462,-0.076804,1.000000,0.531449,0.034500
Nums,-0.203172,-0.037560,0.004880,-0.132255,-0.099416,-0.008986,-0.183429,0.001727,-0.131342,-0.139080,-0.045097,-0.041735,0.531449,1.000000,0.037996
Side,-0.000528,-0.019677,-0.002760,-0.011640,0.010117,0.012290,-0.020149,0.020983,-0.002031,0.008154,-0.103775,-0.010910,0.034500,0.037996,1.000000

In [134]:
spaceship.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group,Deck,Nums,Side
0,1.0,0.0,0.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,1.0,0.0,1.0
1,0.0,0.0,0.0,24.0,0.0,109.0,9.0,25.0,549.0,44.0,1,1,5.0,0.0,0.0
2,1.0,0.0,0.0,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0,0,1,0.0,0.0,0.0
3,1.0,0.0,0.0,33.0,0.0,0.0,1283.0,371.0,3329.0,193.0,0,2,0.0,0.0,0.0
4,0.0,0.0,0.0,16.0,0.0,303.0,70.0,151.0,565.0,2.0,1,1,5.0,1.0,0.0

In [135]:
spaceship.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8492 non-null   float64
 1   CryoSleep     8476 non-null   float64
 2   Destination   8511 non-null   float64
 3   Age           8514 non-null   float64
 4   VIP           8490 non-null   float64
 5   RoomService   8512 non-null   float64
 6   FoodCourt     8510 non-null   float64
 7   ShoppingMall  8485 non-null   float64
 8   Spa           8510 non-null   float64
 9   VRDeck        8505 non-null   float64
 10  Transported   8693 non-null   int64
 11  Group         8693 non-null   int64
 12  Deck          8494 non-null   float64
 13  Nums          8494 non-null   float64
 14  Side          8494 non-null   float64
dtypes: float64(13), int64(2)
memory usage: 1018.8 KB

In [136]:
spaceship.describe()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group,Deck,Nums,Side
count,8492.000000,8476.000000,8511.000000,8514.000000,8490.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000,8693.000000,8693.000000,8494.000000,8494.000000,8494.000000
mean,0.665214,0.358306,0.398543,28.827930,0.023439,224.687617,458.077203,173.729169,311.138778,304.854791,0.503624,1.517773,4.305392,600.367671,0.495173
std,0.798155,0.479531,0.653306,14.489021,0.151303,666.717663,1611.489240,604.696458,1136.705535,1145.717189,0.500016,1.054241,1.778233,511.867226,0.500006
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,167.250000,0.000000
50%,0.000000,0.000000,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,5.000000,427.000000,0.000000
75%,1.000000,1.000000,1.000000,38.000000,0.000000,47.000000,76.000000,27.000000,59.000000,46.000000,1.000000,2.000000,6.000000,999.000000,1.000000
max,2.000000,1.000000,2.000000,79.000000,1.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000,1.000000,8.000000,7.000000,1894.000000,1.000000

In [141]:
spaceship = spaceship.dropna()

In [142]:
spaceship.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6764 entries, 0 to 8692
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    6764 non-null   float64
 1   CryoSleep     6764 non-null   float64
 2   Destination   6764 non-null   float64
 3   Age           6764 non-null   float64
 4   VIP           6764 non-null   float64
 5   RoomService   6764 non-null   float64
 6   FoodCourt     6764 non-null   float64
 7   ShoppingMall  6764 non-null   float64
 8   Spa           6764 non-null   float64
 9   VRDeck        6764 non-null   float64
 10  Transported   6764 non-null   int64
 11  Group         6764 non-null   int64
 12  Deck          6764 non-null   float64
 13  Nums          6764 non-null   float64
 14  Side          6764 non-null   float64
dtypes: float64(13), int64(2)
memory usage: 845.5 KB

In [5]:
from sklearn.model_selection import train_test_split, GridSearchCV, KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [144]:
X = spaceship.drop(['Transported'], axis=1)
y = spaceship['Transported']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

clf_rf = RandomForestClassifier()
clf_rf.fit(X_train, y_train)

y_pred = clf_rf.predict(X_test)

feature_imp = pd.Series(clf_rf.feature_importances_,index=X.columns).sort_values(ascending=False)
print(feature_imp)
print(classification_report(y_pred, y_test), '\n', accuracy_score(y_pred, y_test))
print(clf_rf.get_params())

Nums            0.163441
Age             0.126435
Spa             0.112168
RoomService     0.095547
VRDeck          0.092004
CryoSleep       0.090308
FoodCourt       0.089368
ShoppingMall    0.069729
Deck            0.052110
HomePlanet      0.032313
Group           0.029078
Destination     0.023232
Side            0.021964
VIP             0.002303
dtype: float64
              precision    recall  f1-score   support

           0       0.85      0.79      0.82       746
           1       0.77      0.83      0.79       607

    accuracy                           0.81      1353
   macro avg       0.81      0.81      0.81      1353
weighted avg       0.81      0.81      0.81      1353

 0.8085735402808574
{'bootstrap': True, 'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': 'sqrt', 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'monotonic_cst': None, 'n_estimators': 100, 'n_jobs': None, 'oob_score': False, 'random_state': None, 'verbose': 0, 'warm_start': False}

In [145]:
params_grid = {
    'n_estimators': [25, 50, 100, 150],
    'max_features': ['sqrt', 'log2', None],
    'max_depth': [3, 6, 9],
    'max_leaf_nodes': [3, 6, 9],
}
clf_rf_grid = GridSearchCV(clf_rf, param_grid=params_grid)
clf_rf_grid.fit(X_train, y_train)
clf_rf_grid.best_params_

{'max_depth': 6,
 'max_features': None,
 'max_leaf_nodes': 9,
 'n_estimators': 150}

In [146]:
clf_rf_tune = RandomForestClassifier(max_depth=6,
                                     max_features=None,
                                     max_leaf_nodes=9,
                                     n_estimators=150)

clf_rf_tune.fit(X_train, y_train)

y_pred_tune = clf_rf_tune.predict(X_test)
feature_imp = pd.Series(clf_rf.feature_importances_,index=X.columns).sort_values(ascending=False)
print(feature_imp)
print(classification_report(y_pred, y_test), '\n', accuracy_score(y_pred, y_test))

Nums            0.163441
Age             0.126435
Spa             0.112168
RoomService     0.095547
VRDeck          0.092004
CryoSleep       0.090308
FoodCourt       0.089368
ShoppingMall    0.069729
Deck            0.052110
HomePlanet      0.032313
Group           0.029078
Destination     0.023232
Side            0.021964
VIP             0.002303
dtype: float64
              precision    recall  f1-score   support

           0       0.85      0.79      0.82       746
           1       0.77      0.83      0.79       607

    accuracy                           0.81      1353
   macro avg       0.81      0.81      0.81      1353
weighted avg       0.81      0.81      0.81      1353

 0.8085735402808574

In [149]:
X = spaceship.drop(['Transported', 'VIP', 'Side', 'Destination', 'Group', 'Nums'], axis=1)
y = spaceship['Transported']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

clf_rf_tune = RandomForestClassifier(max_depth=6,
                                     max_features=None,
                                     max_leaf_nodes=9,
                                     n_estimators=150)

clf_rf_tune.fit(X_train, y_train)

y_pred_tune = clf_rf_tune.predict(X_test)
feature_imp = pd.Series(clf_rf_tune.feature_importances_,index=X.columns).sort_values(ascending=False)
print(feature_imp)
print(classification_report(y_pred, y_test), '\n', accuracy_score(y_pred, y_test))

CryoSleep       0.535098
FoodCourt       0.106864
Spa             0.077340
VRDeck          0.073517
RoomService     0.050319
Age             0.042013
Deck            0.040012
ShoppingMall    0.037758
HomePlanet      0.037078
dtype: float64
              precision    recall  f1-score   support

           0       0.85      0.79      0.82       746
           1       0.77      0.83      0.79       607

    accuracy                           0.81      1353
   macro avg       0.81      0.81      0.81      1353
weighted avg       0.81      0.81      0.81      1353

 0.8085735402808574

In [159]:
def slt_1_2(x):
    if not pd.isnull(x):
        x = x.split('/')
        return x[0], int(x[1]), x[2]
    else:
        return np.nan, np.nan, np.nan


spaceship = pd.read_csv('data/spaceship_titanic/test.csv')
spaceship['HomePlanet'] = spaceship.HomePlanet.replace(['Earth', 'Europa', 'Mars'], [0, 1, 2])
spaceship['CryoSleep'] = spaceship.CryoSleep.replace([False, True], [0, 1])
spaceship['VIP'] = spaceship.VIP.replace([False, True], [0, 1])
spaceship['Group'] = spaceship.PassengerId.apply(lambda x: int(x.split('_')[1]))
spaceship['Deck'], spaceship['Nums'], spaceship['Side'] = zip(*spaceship['Cabin'].apply(slt_1_2))
spaceship['Side'] = spaceship.Side.replace(['S', 'P'], [0, 1])
spaceship['Deck'] = spaceship.Deck.replace(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'], list(range(8)))
spaceship['Destination'] = spaceship.Destination.replace(['TRAPPIST-1e', '55 Cancri e', 'PSO J318.5-22'], [0, 1, 2])
pass_id = spaceship['PassengerId']
X = spaceship.drop(['PassengerId', 'Cabin', 'Name', 'VIP', 'Side', 'Destination', 'Group', 'Nums'], axis=1)

y_pred_sub = clf_rf_tune.predict(X)
y_pred_sub

C:\Users\Борис\AppData\Local\Temp\ipykernel_13304\1420475478.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  spaceship['HomePlanet'] = spaceship.HomePlanet.replace(['Earth', 'Europa', 'Mars'], [0, 1, 2])
C:\Users\Борис\AppData\Local\Temp\ipykernel_13304\1420475478.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  spaceship['CryoSleep'] = spaceship.CryoSleep.replace([False, True], [0, 1])
C:\Users\Борис\AppData\Local\Temp\ipykernel_13304\1420475478.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  spaceship['VIP'] = spaceship.VIP.replace([False, True], [0, 1])
C:\Users\Борис\AppData\Local\Temp\ipykernel_13304\1420475478.py:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  spaceship['Side'] = spaceship.Side.replace(['S', 'P'], [0, 1])
C:\Users\Борис\AppData\Local\Temp\ipykernel_13304\1420475478.py:16: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  spaceship['Deck'] = spaceship.Deck.replace(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'], list(range(8)))
C:\Users\Борис\AppData\Local\Temp\ipykernel_13304\1420475478.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  spaceship['Destination'] = spaceship.Destination.replace(['TRAPPIST-1e', '55 Cancri e', 'PSO J318.5-22'], [0, 1, 2])

array([1, 0, 1, ..., 1, 1, 1], dtype=int64)

In [165]:
y_pred_sub

array([1, 0, 1, ..., 1, 1, 1], dtype=int64)

In [167]:
sub_df = pd.DataFrame(
    {
        'PassengerId': pass_id,
        'Transported': np.array(y_pred_sub, dtype=bool)
    }
)

sub_df.to_csv('data/spaceship_titanic/submission.csv', index=False)